.button {
	border-width: 0.2rem;
	border-radius: 7rem;
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
	line-height: 120%;
	padding: 0.8rem;
	text-decoration: none;
}
.button:hover {
	text-decoration: underline;
}
.search-button {
	border: none;
	background-color: white;
}
.button-white {
	background-color: #ffffff;
	color: #1b1f3c;
	border-color: #59bed3;
	border-style: solid;
}
.button-turquoise {
	background-color: #59bed3;
	color: #1b1f3c;
	border-style: none;
}
.checkout-buttons,
.all-games-button,
.cart-buttons,
.success-button {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	text-align: center;
}
